<div class="row clearfix">
	<% if task.completed? %>
		<div class="complete">
			<%= link_to "Mark as complete", complete_project_task_path(@project, task.id), method: :patch %>
		</div>
		<div class="task">
			<p><%= task.content %></p>
		</div>
		<div class="trash">
			<%= link_to "Delete", project_task_path(@project, task.id), method: :delete, data: {confirm: "are you sure?"} %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to "Mark as complete", complete_project_task_path(@project, task.id), method: :patch %>
		</div>
		<div class="todo_item">
			<p style="opacity: 0.4;"><strike><%= task.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to "Delete", project_task_path(@project, task.id), method: :delete, data: {confirm: "are you sure?"} %>
		</div>
	<% end %>
</div>